<div class="header ">
    <!-- <div class="header-left col-4"></div> -->
    <!-- <div class="header-center col-4"> -->
        <a href="/Home" class="logo"> <p> <img src="../../../assets/Images/logo.png" width="150" height="50" alt="" srcset=""> </p>
           
        </a> 
    <!-- </div> -->
    <div class="header-right ">
      <!-- <a class="active" href="/Home">Home</a> -->
      <!-- <a href="#contact">Contact</a> -->
      <!-- <a href="#about">About</a> -->
      <a href="/Home"> Profile <img width="20" height="20" src="../../../assets/Images/profile.png" alt="" srcset=""> </a>
      <a (click)="doLogout($event)">Logout <img width="20" height="20" src="../../../assets/Images/exit.png"  > </a>
    </div>
  </div>