.search
{
    /* position: relative; */
    display: flex;
    /* float: right; */
   justify-content: flex-end;
   margin-top: 5px;
}
.search-control
{
    /* background-color: blue; */
    display: flex;
    justify-content: flex-end;
}
.search-control input[type=text]
{
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid gray;
    padding-left: 5px;
    width: 250px;
    border-radius: 0;
}
.search-control input[type=text]:focus
{
    text-decoration: none;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 1px solid black;
    padding-left: 5px;
    box-shadow: none;
}
