<div class="container">

    <div *ngIf="CandidateList; else errormessage" class="table-responsive">
        <div class="d-flex flex-row-reverse bd-highlight mb-2">
          <div class="p-2 bd-highlight">
              <label >No of records &nbsp;</label>
            <select (change)="onTableSizeChange($event)" class="custom-select">
              <option *ngFor="let size of tableSizes" [ngValue]="size">
                {{ size }}
              </option>
            </select>
          </div>
        </div>
        <table class="table table-hover">
            <thead>
                <tr scpoe="row">
                <th>Name</th>
                <th>Email</th>
                <th>Scheduled on</th>
               <th>Contact Number</th>
               <th>RoundName</th>
               <th>Status</th>
                <th>Action</th>
                </tr>
            </thead>
        <tbody >
            <tr *ngFor="let item of CandidateList | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };">
              <td>{{item.Firstname + item.Lastname }}</td>
              <td>{{item.Email }}</td>
                <td>
                    <div *ngIf="item.Scheduleddate; else nodate">
                      {{item.Scheduleddate | date: ' dd-MMM-yy'}}
                     <b>{{item.Scheduledtime}}</b> 
                    </div>
                    <ng-template #nodate>
                      no data
                    </ng-template>
                    
                  </td>
                <td>{{item.Contactnumber }}</td>
                <td>{{item.Roundname }}</td>
                <td>{{item.Status }}</td>
                <td class="actionbutton"> 
                    <button type="button" class="btn btn-primary" (click)="feedback(item.Candidateid,item.Roundname,item.Interviewerid)">Update </button> 
                    <button type="button" class="btn btn-secondary" (click)="navigate(item.Candidateid)">full info </button> 
                </td>
            </tr>
        </tbody>
        </table>
        <div class="d-flex justify-content-center" id="pgfooter">
            <pagination-controls 
              previousLabel="Prev" 
              nextLabel="Next" 
              (pageChange)="onTableDataChange($event)">
            </pagination-controls>
          </div>

    </div>
    <ng-template #errormessage>
        <p style="text-align: center;color: red;" >No records found</p>
    </ng-template>
</div>
