.main {
  height: 100vh;
}

#content:before {
  background-color: #0077b6;
  color: #03045e;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 31.9%;
  content: "";
}

#content {
  font-family: Arial, sans-serif;
  font-weight: bold;
  padding: 30px;
  position: relative;
  text-align: center;
}
#content * {
  position: relative;
}
.login {
  position: absolute;
  left: 5%;
  top: 5%;
  right: 50%;
  width: 1200px;
  height: 650px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 15px 25px;
  z-index: 1;
}
.login-left {
  width: 30%;
  height: 100%;
  background-color: #0077b6;
  margin: 0;
  color: white;
}
.login-content {
  position: absolute;
  top: -75%;
  left: 12%;
}
/* .login-bottom {
  left: 40%;
  width: 250px;
  background-color: #0077b6;
  border-radius: 5px;
  
} */
#title {
  font-size: 2em;
}
.login-email input {
  width: 350px;
  height: 35px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.login-pass input {
  width: 350px;
  height: 35px;
  border: 1.5px solid lightgray;
  border-radius: 5px;
  padding: 5px;
}
.login-email label
{
  margin: 8px;
}
.login-pass label
{
  margin: 8px;
}
#logo
{
  top: 45%;
  font-size: 2.5em;
  text-align: center;
}
.login-bottom button
{
  /* left: 40%; */
  width: 250px;
  background-color: #0077b6;
  border-radius: 5px;
}
.login-bottom button:hover
{
background-color: #00b4d8;
}
