

<app-loader *ngIf="isEnabled"></app-loader>
<div class="main" id="content">
	<div class="login">
		<div class="login-left">
<p id="logo" >Logo</p>		
</div>
		<div class="login-content">
			<p id="title" >Log in</p>
			<form  #loginForm="ngForm"  (ngSubmit)="validateLogin(loginForm)">
				<div class="login-email">
					<label >Email</label><br>
					<input type="email" name="Email" ngModel placeholder="Email" required/>
				</div>
				<div class="login-pass">
					<label >Password</label><br>
					<input type="password" name="Password" ngModel placeholder="Password" required/><br>
				</div>
				<div class="login-check">
					 <br><label class="checkbox"><input type="checkbox" name="remember" [(ngModel)]="isRemember" checked><i> </i> Keep me logged in</label> 
				</div>
				<div class="login-bottom">
					<button class="btn" type="submit" style="color: white;">Log In</button>
				</div>
				
			</form>	
		</div>
		
		
	</div>

</div>
