<!-- <p>interviewer-feedback works!</p> -->
<app-header></app-header>
<div class="container">
    <h3 style="text-align: center;margin: 10px;">Interview feedback</h3>
    <form class="form-control" #interviewfeedbackForm="ngForm" (ngSubmit)="addInterviewfeedback(interviewfeedbackForm)">
        <div class="row">
            <div class="col-md-4 mb-3">
                <label >CandidateId</label>
                <input type="text" class="form-control"  #fname="ngModel" [(ngModel)] ="candidateId" name="cid" ngModel readonly>
            </div>
           

            <div class="col-md-4 mb-3">
                <label >Select status<i style="color: red;">*</i></label>
                <select class="form-select" name="status" ngModel required aria-label="Default select example">
                    <!-- <option value=0 selected></option> -->
                    <option class="form-control" *ngFor="let item of statusList" [ngValue]="item">
                        {{ item }}
                      </option>
                  </select>
                  <p class="form-error-message"
          *ngIf="interviewfeedbackForm.controls.interviewerid?.touched && interviewfeedbackForm.controls.interviewerid.errors?.required">
          <img width="15" height="15" src="../../../assets/Images/warning.png" alt="" srcset="">
          This field is required.</p>
              </div>
           
              
        </div>
        <div class="row">
            <div class="col-md-4 mb-3">
                <label >Feedback<i style="color: red;">*</i> </label>
                <textarea cols="80" rows="2" placeholder="Enter feedback"  class="form-control"
                  id="feedback" name="feedback" #feedback ngModel required></textarea>
                  <p class="form-error-message"
                  *ngIf="interviewfeedbackForm.controls.feedback?.touched && interviewfeedbackForm.controls.feedback.errors?.required">
                  <img width="15" height="15" src="../../../assets/Images/warning.png" alt="" srcset="">
                    This field is required.</p>
        
              </div>
        </div>
        <button class="btn btn-primary" [disabled]="!interviewfeedbackForm.valid" type="submit" >Submit form</button>


        </form>
</div>
<app-footer></app-footer>
